html {
    height: 100%;
}

body {
    height: 100%;
    background: #fff;
}
/*docs-func*/
.docs-func{
    position:fixed;
    top:0;left:0;bottom:0;z-index:30;
    width:80px;
    background:#fff;
    border-right:1px dashed #ccc;
}
    .docs-func a{
        display:block;
        height:80px;
        line-height:80px;font-size:40px;color:#333;
        text-align: center;
        transition:all ease-out .3s;
    }
    .docs-func a:hover{
        color:#08c;
    }
/*docs-home*/
.docs-home{
    position:fixed;top:0;left:80px;right:0;bottom:0;z-index:30;
    background:#fff;
}
.docs-page-on .docs-home{display:none;}

    .docs-folders{
        overflow:hidden;padding:0 20px;}

    .docs-group {
        padding:20px 10px;
        float:left;width:250px;
    }
    .docs-group h3{
        position:relative;
        padding:0 5px;
        font-size:16px;line-height:40px;color:#666;
        border-bottom:1px dashed #ccc;
    }
    .docs-group h3 span{
        position:absolute;top:0;right:10px;
        font-size:12px;color:#666;}
    .docs-group h3:before{
        float:left;margin-right:3px;
        content:'\e934';
        font-family: "iconfont";
        font-size:22px;
        transition:transform ease-out .3s;
    }
    .docs-group li{
        overflow:hidden;text-overflow:ellipsis; 
    }
    .docs-group li a{
        position:relative;
        padding:0 5px;
        display:block;
        height:40px;overflow:hidden;
        line-height:40px;font-size:14px;color:#666;
        transition:all ease-out .3s;
        border-bottom:1px dashed #ccc;
    }
    .docs-group li a span{
        position:absolute;top:0;right:10px;
        font-size:12px;color:#666;
    }
    .docs-group li a:before{
        float:left;margin-right:3px;
        /*position:absolute;top:0;left:0;*/
        content:'\e63c';
        font-family: "iconfont";
        font-size:24px;

    }

    .docs-group li a:hover{
        color:#f60;
    }

    .docs-group li a.on{
        color:#08c;
    }

/*docs-side*/
.docs-side {
    display:none;
    position: fixed;
    top: 0;
    left: 80px;
    bottom: 0;
    width: 400px;
    background: #fff;
    border-right:1px dashed #ccc;
}
.docs-page-on .docs-side{display:block;}
    .docs-theme{
        
    }
    .docs-theme a{
        display:block;
        text-align:center;
        line-height:80px;font-size:18px;color:#333;
        border-bottom:1px dashed #ccc;
    }
    .docs-files{padding:20px 0;}

    .docs-files li{
        padding:0 30px;
        overflow:hidden;text-overflow:ellipsis; 
    }
    .docs-files li a{
        position:relative;
        padding:0 10px;
        display:block;
        height:40px;overflow:hidden;
        line-height:40px;font-size:14px;color:#333;
        transition:all ease-out .3s;
        border-bottom:1px dashed #ccc;
    }
    .docs-files li a:before{
        float:left;margin-right:3px;
        /*position:absolute;top:0;left:0;*/
        content:'\e617';
        font-family: "iconfont";
        font-size:22px;
        transition:transform ease-out .3s;
    }

    .docs-files li a:hover{
        color:#f60;
    }
    .docs-files li a.on:before{
        color:#08c;
        transform:scale(1.2,1.2);
    }
    .docs-files li a.on{
        color:#08c;
    }

/*docs-main*/
.docs-main {
    display:none;
    min-height: 100%;
    margin-left: 480px;
    background: #fff;
}
.docs-page-on .docs-main{display:block;}
.docs-main section {
    padding: 30px 50px 300px;
    width:700px;
    border-right:1px dashed #ccc;
}

.docs-main section.on {
    display: block;
}

.docs-loading{
    position:fixed;z-index:1000;
    top:0;left:0;right:0;bottom:0;
    background:#ddd;
}
.docs-loader-inner{
    position:absolute;top:50%;left:50%;
    height: 100px;margin-top:-50px;
    width: 100px;margin-left:-50px;

}
.ball-clip-rotate-multiple {
    position: relative;
}

.ball-clip-rotate-multiple>div {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    left: 50%;
    top: 50%;
    border: 5px solid #333;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-radius: 100%;
    height: 100px;margin-top:-50px;
    width: 100px;margin-left:-50px;
    -webkit-animation: rotate 1s 0s ease-in-out infinite;
    animation: rotate 1s 0s ease-in-out infinite;
}

.ball-clip-rotate-multiple>div:last-child {
    display: block;
    top: 50%;
    left: 50%;
    width: 40px;margin-top:-20px;
    height: 40px;margin-left:-20px;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    border-color: #333 transparent #333 transparent;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1); }

  50% {
    -webkit-transform: rotate(180deg) scale(0.6);
            transform: rotate(180deg) scale(0.6); }

  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1); } }
